/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body {
  padding-bottom: 40px;
  margin-bottom: 0;

  border-bottom: 3px solid #ccc;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHUlEQVQIW2OMMjIyXnbu3FkGKGCEMTAEYCoxVAAATIUIBSQNNdkAAAAASUVORK5CYII=) repeat;
}

#container {
  margin: 0 auto;
  max-width: 960px;
}

#menu {
  background-color: #555;
  padding: 10px;
  margin-bottom: 10px;
}

#menu .name {
  float: right;
  color: #eee;
  font-size: 2em;
  font-family: 'Open Sans Condensed';
  margin-top: -10px;
}

#search_input {
  width: 300px;
}

.button {
  border-style: none;
  cursor: pointer;
  background-color: #4d90fe;
  color: #f7f7f7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 2px 3px;
  text-transform: uppercase;
  display: none;
  margin-top: 5px;
}

.button:hover {
  background-color: #0072bb;
}

.button:disabled {
  background-color: gray;
  cursor: auto;
  display: inline-block;
  margin-top: 5px;
}

input[type="search"] {
  font-size: 16px;
}

input[type="text"] {
  margin-top: 2px;
  border: 1px solid #cccccc;
  height: 16px;
  padding: 2px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  color: #555555;
  display: none;
}

#search_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#search_list li div {
  padding: 2px 5px;
  padding-bottom: 0px;
  background-color: inherit;
}

#search_list li:hover > div {
  background-color: #edece4;
}

#search_list li div:hover .button {
  display: inline-block;
}

#search_list li div:hover input {
  display: inline-block;
}

.error {
  border: solid 2px #ee6066;
}

.success {
  border: solid 2px #bfe7ab;
}

.task .name {
  color: #593534;
  font-size: 1.2em;
  float: left;
  line-height: 1.4em;
  font-family: 'Open Sans';
  text-shadow: 1px 1px 0px #ddd;
  filter: dropshadow(color=#ccc, offx=1, offy=1);
}

.task .comment {
  color: gray;
  font-style: italic;
  clear: both;
  font-size: 0.9em;
  font-family: 'Open Sans';
}

.task .result {
  color: #fff;
  padding: 0px !important;
  font-family: 'Open Sans';
  font-size: 0.9em;
  margin-left: -5px;
  margin-right: -5px;
  cursor: pointer;
}

.task .result .msg .time {
  float: right;
  font-size: 0.8em;
  font-weight: bold;
  opacity: 0.7;
  filter:aplha(opacity=70);
}

.task .result.error {
  background-color: #ee6066 !important;
}

.task .result.success {
  color: #595959;
  background-color: #bfe7ab !important;
}

.task .output {
  display: none;
  overflow: auto;
}

.highlight {
  background-color: #ffff88;
}