<div id="container">
  <div id="menu">
    <input id="search_input" placeholder="Type to filter" type="search">
    <div class="name">
      rakeleak
    </div>
  </div>
  <ul id="search_list">
    <%= render partial: 'task', collection: @tasks %>
  </ul>
</div>
