<div id="container">
  <div id="menu">
    <input id="search_input" placeholder="Type to filter" type="search">
    <div id="name">
      r<span class="green">a</span>kele<span class="red">a</span>k
    </div>
  </div>
  <ul id="search_list">
    <%= render partial: 'task', collection: @tasks %>
  </ul>
</div>
